{
  "root": true,
  "extends": "@mntm",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "no-sync": "off",
    "prefer-rest-params": "off",
    "unicorn/no-process-exit": "off",
    "@typescript-eslint/promise-function-async": "off"
  }
}
